- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li.active= @hunt.name

%h1 Edit Hunt

= simple_form_for @hunt, :url => hunt_path(@hunt), :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, :label => 'Name', :autofocus => true
  = f.input :is_live, :label => 'Is Live?'
  .form-actions
    = f.submit :value => 'Save', :class => 'btn btn-primary'
