- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li.active New Hunt

%h1 New Hunt

= simple_form_for @hunt, :url => hunts_path, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, :label => 'Name', :autofocus => true
  .form-actions
    = f.submit :value => 'Save', :class => 'btn btn-primary'
    = link_to 'Cancel', hunts_path, :class => 'btn'
