%h1= @hunt.name

- if @hunt.clues.size > 0
  %h2 Clues
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %td Name
        %td Description
        %td Points
    - @hunt.clues.each do |clue|
      %tr
        %td
          = link_to clue.name, hunt_clue_path(@hunt, clue)
        %td= clue.description
        %td= clue.point_value

= link_to 'Add Clue', new_hunt_clue_path(@hunt), :class => 'btn'
