- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li.active= @hunt.name

.pull-right
  - if !@invitation.nil?
    Respond to invitation: 
    = link_to 'Accept', accept_hunt_invitation_path(@hunt, @invitation), :class => 'btn btn-success', :method => 'put'
    = link_to 'Decline', decline_hunt_invitation_path(@hunt, @invitation), :class => 'btn btn-danger', :method => 'put'
  - elsif can? :edit, @hunt
    = link_to 'Edit Hunt', edit_hunt_path, :class => 'btn'

%h1
  = @hunt.name
  - case @hunt.status
    - when :forming
      %span.label.label-info= @hunt.status
    - when :live
      %span.label.label-important= @hunt.status
    - when :judging
      %span.label.label-warning= @hunt.status
    - when :completed
      %span.label.label-success= @hunt.status

- if current_user.is_judge_for @hunt
  = render :partial => "hunts/judge/show_#{@hunt.status}.html.haml"
- elsif current_user.is_player_for @hunt || !@invitation.nil?
  = render :partial => "hunts/player/show_#{@hunt.status}.html.haml"
