- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li.active= @hunt.name

%h1= @hunt.name

.row-fluid
  .span4
    %h2 Clues
    - if @hunt.clues.size > 0
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th Name
            %th Description
            %th Points
        - @hunt.clues.each do |clue|
          %tr
            %td
              = link_to clue.name, hunt_clue_path(@hunt, clue)
            %td= clue.description
            %td= clue.point_value
    - else
      %p No clues for you.

    - if can? :create, Clue.new(:hunt => @hunt)
      = link_to 'Add Clue', new_hunt_clue_path(@hunt), :class => 'btn'

  .span4
    %h2 Players
    - if @hunt.players.size > 0
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th
            %th Email
            %th Name
        - @hunt.players.each do |player|
          %tr
            %td
              - if !player.invitation_sent_at.nil? && player.invitation_accepted_at.nil?
                %abbr{ title: "Invitation sent #{player.invitation_sent_at}" }
                  %i.icon-envelope
            %td= player.email
            %td= player.name
    - else
      %p No players yet.

    = link_to 'Invite Someone', new_hunt_user_path(@hunt), :class => 'btn'

  .span4
    %h2 Judges
    - if @hunt.judges.size > 0
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th Email
            %th Name
        - @hunt.judges.each do |judge|
          %tr
            %td= judge.email
            %td= judge.name
    - else
      %p No judges yet.
