.user-badge
  .user-badge-image
    - if user.image.nil?
      %i.icon-user
    - else
      %img.img-rounded{ src: user.image }
  .user-badge-details
    - unless user.name.nil?
      %h4.media-heading
        = user.name
        - unless user.provider.nil?
          - case user.provider
            - when 'facebook'
              %i.icon-facebook-sign
    .user-badge-email
      %span.label= user.email
      
    - unless @hunt.nil?
      - invitation = user.invitations.status_invited.where(:hunt_id => @hunt.id).first
      - unless invitation.nil?
        .invitation
          %i.icon-envelope
          %small
            = "Invited #{time_ago_in_words(invitation.created_at)} ago"
        .invitation-actions
          - if can? :cancel, invitation
            = link_to cancel_hunt_invitation_path(@hunt, invitation), :method => 'put', :confirm => 'Are you sure you want to cancel this invitation?', :class => 'label label-important' do
              %i.icon-remove.icon-white
              Cancel
              