- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li
    = link_to @hunt.name, @hunt
    %span.divider /
  %li.active Manage Participants

= simple_form_for @hunt, :url => hunt_participants_path(@hunt), :html => { :method => :put } do |f|
  - if @hunt.errors.any?
    .alert.alert-error
      %button.close{ type: 'button', data: { dismiss: 'alert' } } &times;
      %strong= "#{pluralize(@hunt.errors.count, "error")} prohibited this hunt from being saved:"
      %ul
        - @hunt.errors.full_messages.each do |msg|
          %li= msg
  %table.table
    %tbody
      = f.simple_fields_for :hunt_participants do |hpf|
        %tr
          %td= render :partial => 'shared/user', :locals => { :user => hpf.object.user }
          %td= hpf.select :status, HuntParticipant.statuses.keys
  .form-actions
    = f.button :submit, "Save", :class => 'btn btn-primary'
