- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li
    = link_to @hunt.name, @hunt
    %span.divider /
  %li
    = link_to 'Teams', hunt_teams_path(@hunt)
    %span.divider /
  %li
    = link_to @hunt_team.name, hunt_team_path(@hunt, @hunt_team)
    %span.divider /
  %li.active Edit Team

%h1 Edit Team

= simple_form_for @hunt_team, :url => hunt_team_path(@hunt, @hunt_team), :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, :label => 'Name', :autofocus => true
  .form-actions
    = f.submit :value => 'Save', :class => 'btn btn-primary'
