- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li
    = link_to @hunt.name, @hunt
    %span.divider /
  %li
    = link_to 'Teams', hunt_teams_path(@hunt)
    %span.divider /
  %li.active= @team.name

%h1= @team.name
%table.table.hover
  - @team.users.players.each do |user|
    %tr
      %td= render :partial => 'shared/user', :locals => { :user => user }
