.row-fluid
  .span3
    .judges
      %h2 Judges
      - if @hunt.users.judges.size > 0
        %table.table.table-hover
          - @hunt.users.judges.each do |judge|
            %tr
              %td= render :partial => 'shared/user', :locals => { :user => judge }
      - else
        %p No judges. How did that happen?

    .players
      %h2 Players
      - if @hunt.teams.size > 0
        - @hunt.teams.each do |team|
          - if team.users.players.size > 0
            %h3= team.name
            %table.table.table-hover
              - team.users.players.each do |user|
                %tr
                  %td= render :partial => 'shared/user', :locals => { :user => user }
      - else
        %p No players.

  .span9
    .submissions
      %h2 Recent Submissions
      - unless @submissions.empty?
        - @submissions.each_slice(4) do |submission_row|
          .row-fluid
            %ul.thumbnails
              - submission_row.each do |submission|
                %li.thumbnail.span3
                  %img.media-object.img-rounded{ src: submission.upload.thumb }
                  .caption
                    .submitted-for
                      For
                      =link_to submission.clue.name, clue_submissions_path(submission.clue)
                    .submitted-at
                      %i.icon-time
                      = "#{time_ago_in_words(submission.created_at)} ago"
                    .submitted-by
                      %i.icon-user
                      = "By #{submission.user.name}"
      - else
        %p No submissions!

    / %h2 Requests
    / - if @hunt.users.requested.size > 0
    /   %table.table.table-hover
    /     - @hunt.users.requested.each do |requested|
    /       %tr
    /         %td= render :partial => 'shared/user', :locals => { :user => requested }
    / - else
    /   %p Nobody here.
