- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li
    = link_to @clue.hunt.name, @clue.hunt
    %span.divider /
  %li
    = link_to 'Clues', hunt_clues_path(@clue.hunt)
    %span.divider /
  %li
    = link_to @clue.name, hunt_clue_path(@clue.hunt, @clue)
    %span.divider /
  %li.active Submissions

%table.table
  %thead
    %tr
      %th User
      %th Submission
  %tbody
    - @submissions.each do |submission|
      %tr
        %td= render :partial => 'shared/user', :locals => { :user => submission.user }
        %td
          %img{ src: submission.upload.thumb }
