- content_for :breadcrumb do
  %li
    = link_to @hunt.name, @hunt
    %span.divider /
  %li.active= @clue.name

%h1 Edit Clue

= simple_form_for @clue, :url => hunt_clue_path(@hunt, @clue), :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, :label => 'Name'
  = f.input :description, :as => :text, :label => 'Description', :input_html => { :rows => 3 }
  = f.input :point_value, :label => 'Points'
  .form-actions
    = f.submit :value => 'Save', :class => 'btn btn-primary'
    = link_to 'Cancel', @hunt, :class => 'btn'
