- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li
    = link_to @hunt.name, @hunt
    %span.divider /
  %li.active New Clue

%h1 New Clue

= simple_form_for @clue, :url => hunt_clues_path(@hunt), :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, :label => 'Name'
  = f.input :description, :as => :text, :label => 'Description', :input_html => { :rows => 3 }
  = f.input :point_value, :label => 'Points'
  .form-actions
    = f.submit :value => 'Save', :class => 'btn btn-primary'
    = link_to 'Cancel', @hunt, :class => 'btn'
