%h1 New clue

= simple_form_for @clue, :url => hunt_clues_path(@hunt) do |f|
  = f.input :name, :label => 'Name'
  = f.input :description, :as => :text, :label => 'Description', :input_html => { :rows => 3 }
  / = f.input :hunt_id, :as => :hidden, input_html: { value: @hunt.id }
  .form-actions
    = f.submit :value => 'Add Clue', :class => 'btn btn-primary'
    = link_to 'Cancel', @hunt, :class => 'btn'
