- content_for :breadcrumb do
  %li
    = link_to @hunt.name, @hunt
    %span.divider /
  %li.active= "#{@clue.name} (#{@clue.point_value} pts)"

%p= @clue.description

= link_to 'Edit', edit_hunt_clue_path(@hunt, @clue)
